// 颜色
$accentColor = darkcyan  // 全局主色
$textColor = #2c3e50  // 文字顏色
$borderColor = #eaecef // 框線顏色
$codeBgColor = #282c34 // 程式碼背景色
$arrowBgColor = #ccc  // 箭頭的顏色
$badgeTipColor = #0c5460  // 提示徽标背景颜色
$badgeWarningColor = darken(#ffe564, 35%)  // 警告标背景颜色
$badgeErrorColor = #DA5961   // 危险徽标背景颜色

// 布局
$navbarHeight = 3.6rem  // navbar高度
$sidebarWidth = 16rem  // sidebar寬度
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

